/* * {
  margin: 0;
  padding: 0;
} */

@import url('config/index.css');
@import url('components/index.css');
@import url('utilities/text.css');

html {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--white);
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-image: url("../background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.footer {
  height: 5%;
  background-color: inherit;
}
