.btn {
  width: 100%;
  text-align: center;
  color: var(--white);
  background-color: #5D5246;
  padding: 1em 0;
  text-decoration: none;
  border-radius: 1.625em;
}

.btn:hover {
  background-color: var(--white);
  color: black;
}
